<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahjswy.cn"
    android:versionCode="1"
    android:versionName="5.0.43" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 必写 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 必写 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.ahjswy.cn" >
    </instrumentation>

    <application
        android:name="com.ahjswy.cn.app.MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.ahjswy.cn.ui.Swy_splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >

            <!-- android  程序的 入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.SwyMain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.app.Main_Setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.app.Swy_js"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.app.Jswy_logUser"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.app.LoginPassword"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.RegisterPadAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.OutDocOpenActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.DepartmentSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.WarehouseSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.CustomerSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.OutDocEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.OutDocAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.OutDocAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.OutDocPayAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.SaleCustomerHistoryItemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.SaleCustomerHistoryActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.GoodsWarehouseSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inpurchase.InpurchaseOpenActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.SupplerInpurchaseAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.ingoods.InDocOpenActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.ingoods.InDocEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.ingoods.InDocAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.ingoods.InDocAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inpurchase.InpurchaseEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.ingoods.InDocPayAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.GoodsBatchSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.GoodsSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inpurchase.InpurDocAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inpurchase.InpurDocPayAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inpurchase.InPurchaseDocAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outpurchase.OutpurchaseOpenActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outpurchase.OutpurchaseEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outpurchase.OutpurDocAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outpurchase.OutpurDocAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outpurchase.OutpurDocPayAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.SaleRecordActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.outgoods.SaleDocSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.DocTypeListAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.field.NewCustomerAddAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.CustomerTypeSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.RegionSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.out_in_goods.OutInDocOpen"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.out_in_goods.OutInDocEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.out_in_goods.OutInDocAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.out_in_goods.OutInDocAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.addgoods.GoodsClassActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.CustomerAddressSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.field.AllGoodsActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.field.GoodDetailAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.InsertDoc"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.SettingActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.AboutActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.print.BTdeviceListAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inventory.InventoryDocOpenActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inventory.InventoryEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inventory.InventoryAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inventory.InventoryAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inventory.InventoryRecordActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.inventory.InventoryDocSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.AddNewGoodSAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.UnitSearchAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.SearchGoodsClassAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.transfer.TransferDocOpenActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.transfer.TransferEditActivity"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.transfer.TransferAddMoreGoodsAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ahjswy.cn.ui.transfer.TransferAddGoodAct"
            android:icon="@drawable/menu_btn_back"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>